* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(320deg, #8f6ec0, #cd85ac, #8de4d2)
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: rgba(247, 217, 196, 0.30);
    display: grid;
    border-radius: 10px;
    padding: 20px;
    flex-basis: 400px;
    height: 540px;
}

.screen {
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5%;
    align-items: end;
    text-align: right;
    grid-row: span 1;
}

.calculator-buttons {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2px;
    column-gap: 2px;
}

.wide-button {
    grid-column: span 2;
}